
:root {
   
    --color-primary: 157, 208, 138 ;
    --color-primary-dark:112, 176, 86;
    
}

#duo .prj_key_finding_container{
  
    justify-content: flex-start;
   
}
#duo .color_accent{
    background-color: rgba(var(--color-dark),1)
}
#duo .color_accent h5, #duo .color_accent p{
    color:rgba(var(--color-primary),1)
}


#duo .prj_landing_right img {
    position: relative;
    display: block;
    width: 110%;
    height: auto;
    margin: auto;
}

#duo .prj_landing_right {
    position: relative;
    display: flex;
   
}

#duo_vid video{
    width:100%
}

#duo_highlight, #duo_nda {
    background-color: rgba(var(--color-dark), 1);
    margin-bottom:var(--margin-medium)
}

#duo_highlight .prj_content_container_full{
    position:relative;
    display:block;
    width: var(--width-max);
    margin: 0 auto;
    margin-bottom:var(--size-medium);
}

#duo_highlight .prj_content_container_full h6{
    color: rgba(var(--color-white), 0.7);
}

#duo_highlight h4{
   color: rgba(var(--color-primary-dark), 1);
}

#duo_highlight .prj_index{
   justify-content: center;
   /* margin-top: var(--margin-medium);
   margin-bottom:var(--size-medium) */

}

#duo_highlight .prj_index h3{
   
    color: rgba(var(--color-white), 0.5);
 }


/* #duo .prj_landing_right {
    background-image:  url('../img/prj_duo/duo_demo_1.gif');
    background-repeat: none;
    background-size: 100% auto;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    /* border-radius: 0 */



/* .prj_landing_right video {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0
} */