:root {
   
    --color-primary:  223, 236, 250 ;
    --color-primary-dark:77, 121, 168;
    
}

.sec_1{
    height:620px;
    overflow:visible
}
.prj_landing_left{
    grid-column: 1 /span 3;
}

.prj_landing_right img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit:cover;
    /* margin: auto; */
    /* border-radius: 2.5em; */
    /* transform: rotate(-15deg) ; */
 

}
#focus_landing{
    /* position:relative;
    display:flex;
    width:400px;
    margin-bottom:0;
    min-height:400px;
    padding:var(--size-small) 0;
    background-image: url("/img/prj_focus/focus_3.png");
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: top;
    background-attachment: scroll; */
    /* height: 100%;
    display: flex;
    align-items: center;
    min-height: 450px;
    background-image: url("/img/prj_focus/focus_4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 25em; */
    /* z-index:1000;
    object-fit: cover; */
    
}
.prj_landing_right{
    grid-column: 4 /span 5;
    display:flex;
    flex-direction:column;
   justify-content: flex-start;
   align-items: flex-start;
}

.prj_landing_right img{
    margin:0;
    top:-5px
}

p {
    width:100%
}

.finding_section_title{
    /* text-align: left; */
    font-size: 20px;
    margin-top: var(--size-xx-small);
    margin-bottom: var(--size-xx-small);
}

.prj_stack_content_row {
    position: relative;
    display:flex;
    margin-bottom: 0;
    max-width: var(--width-max);
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
}

.prj_stack_content_row p{
    width:30%
}

.prj_stack_content_row .prj_stack_content{
    margin-bottom: 0;
}

.quickfact_item .prj_caption{
    text-align: center;
}

@media only screen and (max-width: 900px) {
   
    
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    }


@media only screen and (max-width: 600px) {
    .prj_stack_content_row {
        position: relative;
        display: flex;
        margin-bottom: 0;
        max-width: var(--width-max);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .prj_stack_content_row p{
        width:100%
    }
    
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    }